Source: osso-systemui-devlock
Section: misc
Maintainer: Ivaylo Dimitrov <ivo.g.dimitrov.75@gmail.com>
Build-Depends: debhelper (>= 5), pkg-config, libhildon1-dev, libgconf2-dev,
 libgtk2.0-dev, libdbus-1-dev, libglib2.0-dev, mce-dev, libcodelockui1-dev,
 osso-systemui-dev (>= 0.2.0.21), osso-systemui-dbus-dev, libdevlock-dev,
 libosso-dev
Priority: optional
Standards-Version: 4.3.0

Package: osso-systemui-devlock
Architecture: any
Multi-arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}, osso-systemui, mce
Description: System UI device lock plugin
 This package contains System UI device lock plugin.

Package: osso-systemui-devlock-dev
Architecture: all
Multi-arch: foreign
Depends: ${misc:Depends}
Description: System UI device lock plugin development headers
 Development headers for System UI device lock.
