Source: osso-systemui-devlock-dev
Section: devel
Priority: extra
Maintainer: Pali Rohár <pali.rohar@gmail.com>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.3.0

Package: osso-systemui-devlock-dev
Architecture: all
Depends: ${misc:Depends}
Description: System UI device lock plugin development headers
 Development headers for System UI device lock.
